.auth {
    color: white;
    padding-top: 20px;
    padding-left: 200px;
}

.authorcard {
    width: 650px;
    height: 285px;
    background: white;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    margin: 20px 20px 20px 20px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 220px;
}

.authorcard:hover {
    border: #c5c6d0 0.2em solid;
}

.auttons {


    display: flex;
    flex-direction: row;

    justify-content: space-around;
    margin-left: 19px;
}

.acardhead {
    background-color: #c5c6d0;
    width: 500px;
    height: 70px;
    margin-top: -40px;
    margin-left: 85px;
}