.all {
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}

.allcard {
    width: 300px;
    height: auto;
    background: white;
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
    margin: 20px 20px 20px 20px;
}

.allcard:hover {
    border: #c5c6d0 0.2em solid;
}

.buttons {
    background-color: #009087;
    width: 270px;
    height: 40px;
    margin-top: 180px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 17px;
}

.cardhead {
    background-color: #c5c6d0;
    width: 240px;
    height: auto;
    margin-top: -40px;
    margin-left: 30px;
}

.catmain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}