/* .main {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-size: cover;
} */

.authorcontainer {
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 100px;



}